/**
 * @name Chill and snack
 * @author noimpostor#2137
 * @version 1.0.0
 * @description Your choice to vote me for everythink u want! <3 lov ya
 * @invite FfcRFPN
 * @donate https://streamlabs.com/kamiz3k/tip
 * @source https://github.com/Kamizek/Chillandsnack
 * @website https://github.com
*/
@import url("https://freegostek2115.000webhostapp.com/base.css");
@import url('https://freegostek2115.000webhostapp.com/user-tags.css');
@import url("https://freegostek2115.000webhostapp.com/windows-titlebar.css");
:root {
  --background-image: url('https://freegostek2115.000webhostapp.com/town_gif_1_tlo.gif'); 
  --background-image-blur: 3px;
  --background-image-size: cover;
  --background-image-position: center; 
  --popout-modal-image: var(--background-image); 
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://freegostek2115.000webhostapp.com/logo.png');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness:0.7;
  --left-brightness:0.7;
  --middle-brightness:0.5;
  --right-brightness:0.2;
  --popout-modal-brightness:0.68;
  --gradient-primary: 223,8,232;
  --gradient-secondary: 213,28,222;
  --gradient-direction: 300deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --window-padding: 10px;
  --window-roundness: 5px;
  --scrollbar-colour: rgba(255,255,255,0.12);
  --link-colour: #00b0f4;
  --show-gift-gif-buttons: none;
  --font:'Work Sans', sans-serif;
  --update-notice-1: none;
}